---
import "@fontsource/libre-baskerville";
import Navbar from "../components/Navbar.astro";
import ScrollAlert from "../components/ScrollAlert.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>anthnydas.com</title>
  </head>
  <body>
    <Navbar />
    <div class="h-[100vh] w-full bg-orange-100">
      <p class="pt-[50vh] text-amber-900 text-5xl text-center font-libre">
        soon<span class="animate-pulse">.</span>
      </p>
    </div>
    <ScrollAlert />
  </body>
</html>
