---
import "@fontsource/roboto-mono";
---

<div
  class="fixed bottom-0 w-full py-3 text-center bg-[#CF0A0A] text-lg whtespace-nowrap fixed font-bold opacity-[95]"
>
  <p class="whitespace-nowrap ml-[-30px] font-mono font-semibold">
    // UNSTABLE // UNSTABLE // UNSTABLE // UNSTABLE // UNSTABLE // UNSTABLE //
    UNSTABLE // UNSTABLE // UNSTABLE // UNSTABLE // UNSTABLE // UNSTABLE //
    UNSTABLE // UNSTABLE // UNSTABLE // UNSTABLE // UNSTABLE // UNSTABLE //
    UNSTABLE // UNSTABLE // UNSTABLE //
  </p>
</div>
